CarouselLayout/.idea
CarouselLayout/CarouselLayout.xcodeproj/project.xcworkspace/xcuserdata
CarouselLayout/CarouselLayout.xcodeproj/xcuserdata
CalendarCollectionViewLayout/CalendarCollectionViewLayout.xcodeproj/project.xcworkspace/xcuserdata
CalendarCollectionViewLayout/.idea
CalendarCollectionViewLayout/CalendarCollectionViewLayout.xcworkspace/xcuserdata
CalendarCollectionViewLayout/CalendarCollectionViewLayout.xcodeproj/xcuserdata
